* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    background-image: url("../images/concrete_seamless.png");
}

a {
    color: #777;
    text-decoration: none;
}

#header {
    width: 100%;
    overflow: auto;
    background-color: #ffffff;
    border-style: none none solid none;
    border-bottom-color: #cccccc;
    font-family: Arial;
    font-size: 18px;
    color: #777777;
    font-weight: bold;
    margin-top: 0px;
    }

aside {
    float: left;
    width: 15%;
    text-align: center;
    margin-left: 150px;
    padding :12px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 28px;
    font-family: Georgia;    
}

/* nav {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
    font-family: 'Georgia', Times, "Times New Roman", serif; */

.nav-bar {
    font-family: Arial;
    font-size: 15px;
    color: #777777;
    text-decoration: none;
    font-weight: normal;
    margin-top: 12px;
    }

#nav-left {
    margin-left: 20px;
    padding-left: 20px;
}

#nav-center {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid gray ;  
}

#nav-right {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid gray;  
}


#left-section-index {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #4aaaa5;
    background-color: #ffffff;
    overflow: hidden;
    max-width: 960px;
    height: 400px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border: 1px solid #dddddd;
    padding-left: 12px;
    text-align: left;
    clear: left;
  }

  #left-section-portfolio {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #4aaaa5;
    background-color: #ffffff;
    max-width: 960px;
    height: 400px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border: 1px solid #dddddd;
    padding-left: 12px;
    text-align: left;
    clear: left;
  }

  .icons {
      float: left;
      width: 50%;
      padding: 5px;
  }

  #left-section-portfolio {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #4aaaa5;
    background-color: #ffffff;
    width: 960px;
    height: 400px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border: 1px solid #dddddd;
    padding-left: 12px;
    text-align: left;
   }

   /* flexbox maybe?? */
   .row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
}

 #left-section-contact {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #4aaaa5;
    background-color: #ffffff;
    max-width: 960px;
    height: 400px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border: 1px solid #dddddd;
    padding-left: 12px;
    text-align: left;
    clear: left;
  }


  h2 {
      float: left;
      clear: right;   
  }

  #about-me {
      text-align: left;
      font-weight: bold;
  }

  #mugshot {
    position: relative;  
    clear: left;
    float: left;
}

/* hr {
    clear: both;
    float: left;
} */
  #bio {
      color: #777777;
    float: left;
  }

  p {
      font-size: 15px;
      color: #777777;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      text-align: left;
      float: left;
      overflow: auto;
      font-weight: normal;
  }

.label {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-align: left;
}
  
.footer {
    position: absolute;
    text-align: center;
    font-size: 12 px;
    color: white;
    line-height: 30px;
    background-color: #666666;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 8px solid #4aaaa5;
}

#mine {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 10px;
    margin: 0;
}

/*Form*/
    
.myForm {
    display: flex;
    padding: 1.8em;
  }
  .message {
   margin-right: 2em; 
   display: flex;
   flex-direction: column;

  }
  .message > textarea {
   flex: 1; 
   min-width: 18em;
   max-width: 870px;
  }
  .contact {
       flex: 1; 
  }
  .contact input {
  width: 850px;
  }
  .contact input,
  .contact button {
    padding: 1em;
    margin-bottom: 1em;
  }
  .contact button {
   background: #11a099;
   color: white;
   border: 0;
   margin-top: 10%;
  }

/* will work on hovers */
.contact a:hover {
    color: #4aaaa5;
  }
  .about a:hover {
    color: #4aaaa5;
  }
  .portfolio a:hover {
    color: #4aaaa5;
  }